.main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: minmax(0, 1fr) auto;

  .side-tools {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .console {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .prompt {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
