.context {
  font-size: 16px;

  h2 {
    font-size: .9rem;
    font-weight: 500;
    color: #666;
  }

  ul {
    padding-left: .4em;
  }

  code {
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    line-height: 1.3;
    word-break: break-all;
  }
}
