---
// skiMogul に遷移するリンクを作成, 遷移先でコマンドを実行できる

import { Icon } from "@astrojs/starlight/components";

const { beforeRun, run, input } = Astro.props;

const param = new URLSearchParams();

if (Array.isArray(beforeRun)) {
  beforeRun.forEach((run) => param.append("run", run));
} else if (beforeRun) {
  param.append("run", beforeRun);
}
run && param.append("run", run);
input && param.append("input", input);

const href = `https://mogul-lang.mudatobunka.org/?${param.toString()}`;
---

<div>
  <a href={href} target="_blank" title="skiMogulで実行">
    <pre><code>{run}</code></pre>
    <div class="arrow">
      <p>skiMogulで実行</p>
      <Icon name="right-arrow" />
    </div>
  </a>
</div>

<style>
  a:not(:root) {
    position: relative;
    color: inherit;
    text-decoration: none;
  }
  a:hover pre {
    border-width: 2px;
  }
  a:not(:root) pre {
    padding-left: 1.5rem;
    padding-right: 3rem;
    white-space: pre-wrap;
  }

  a:not(:root) pre code {
    position: relative;

    &::before {
      content: ">";
      position: absolute;
      top: 0;
      left: -1em;
      line-height: 1.2;
      color: #999;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    margin: 0 !important;

    color: #fff;
    background-color: #000;

    white-space: nowrap;
    overflow: hidden;
    border-radius: 12px;

    transition: width 0.4s;

    p {
      height: 24px;
      padding: 0 12px;
      line-height: 24px;
      font-size: 0.8em;
      opacity: 0;
      transition: opacity 0.2s 0.2s;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-50%);
      margin: 0 !important;
    }
  }

  a:hover .arrow {
    width: 124px;
    text-indent: 0;
    p {
      opacity: 1;
    }
  }
</style>
