@charset "UTF-8";

*, *:before, *:after {
  box-sizing: border-box;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 8px;
  flex-direction: column;
  background-color: #facd8b;
}

#container {
  flex-grow: 1;

  padding: 0 8px 0 0;
  overflow: scroll;
  font-family: monospace;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #fafafabb;
}

#container li {
  position: relative;
  margin: .6em 0;
}

#container ol {
  margin: 0;
  padding-inline-start: 32px;
}
#container ol li::marker {
  color: transparent;
  font-size: 60%;
}
#container ol li:nth-child(1)::marker,
#container ol li:nth-child(2)::marker,
#container ol li:nth-child(3)::marker,
#container ol li:nth-child(4)::marker,
#container ol li:nth-child(5)::marker,
#container ol li:nth-child(6)::marker,
#container ol li:nth-child(7)::marker,
#container ol li:nth-child(8)::marker,
#container ol li:nth-child(9)::marker,
#container ol li:nth-child(10)::marker,
#container ol li:nth-child(11)::marker,
#container ol li:nth-child(12)::marker,
#container ol li:nth-child(13)::marker,
#container ol li:nth-child(14)::marker,
#container ol li:nth-child(15)::marker,
#container ol li:nth-child(16)::marker,
#container ol li:nth-child(17)::marker,
#container ol li:nth-child(18)::marker,
#container ol li:nth-child(19)::marker,
#container ol li:nth-child(20)::marker,
#container ol li:nth-child(10n+1)::marker,
#container ol li:last-child::marker {
  color: #666;
}
#container ol li:not(:first-child) {
  padding-left: 1.3em;
}
#container ol li:not(:first-child)::before {
  content: "→";
  color: #666;
  position: absolute;
  left: 0;
  top: 0;
}

#container ul {
  list-style: none;
}

#form {
  display: flex;
  margin-top: 8px;
  gap: 8px;
}

#form input {
  flex-grow: 1;
  padding: 8px;
  font-family: monospace;
  appearance: none;
  border: none;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #fafafabb;
}

#form button {
  padding: 0 32px;
  font-size: 110%;

  appearance: none;
  color: #fafafa;
  border: none;
  border: 1px solid #666;
  border-radius: 4px;
  background: none;
  background: #e19b4d;

  cursor: pointer;
}
