.button {
  appearance: none;
  border: none;
  background: none;

  padding: .2em .6em;
  font-size: .9rem;
  font-weight: 600;
  border: 1px solid #bababa;
  border-radius: 4px;
  background-color: #fafafa;

  &:hover {
    background-color: #ececf1;
  }
}
