.prompt {
  position: relative;
  padding: 2px;
  border-top: 1px solid #999;

  &::before {
    position: absolute;
    top: 48px;
    left: 12px;
    z-index: 1000;
    content: ">";
    color: #666;
    font-family: monospace;
    font-size: 1.1em;
    line-height: 1;
    pointer-events: none;
  }
}

.buttons {
  position: absolute;
  top: 8px;
  left: 12px;
  z-index: 1000;

  display: flex;
  gap: 4px;
}

.button {
  appearance: none;
  border: none;
  background: none;

  padding: .2em .6em;
  font-size: .9rem;
  font-weight: 600;
  border: 1px solid #bababa;
  border-radius: 4px;
  background-color: var(--color-background);

  &:hover {
    background-color: var(--color-border);
  }
}

.submit {
  width: 160px;
  font-weight: 600;
}

.random-spell {
  font-weight: 400;
}

.input {
  width: 100%;
  padding: 42px 12px 16px 22px;
  border: none;
  background: none;
  resize: none;
  font-family: "Inconsolata", monospace;
}
